{% extends 'base.html' %}
{% block content %}
    <h2> {{ productcategory.name }}</h2>
        <div class="row">
            {% for product in productcategory.products.all %}
                <a href="{% url 'product_detail' product.id %}">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ product.name }}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <img height="50" width="50" src="{{ product.image.url }}" class="img-responsive center-block"/>
                                </div>
                                <div class="col-xs-1 col-md-6 col-lg-6">
                                    <h7>{{ product.producer.name }}</h7>
                                    <h6>{{ product.pretty_price }}</h6>
                                    <h6>{{ product.pretty_price_per_mass }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}

        </div>
{% endblock content %}