
<h3> {{ productcategory.name }}</h3>
<div class="row">
    {% for product in productcategory.products.all %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a class="product-link" data-product_id="{{ product.id }}" href="#" onclick="return false;">
            <div class="panel panel-success productpanel" data-product_id="{{ product.id }}">
                    <div class="panel-heading">
                        {{ product.name }}
                    </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <img src="{{ product.image.url }}" id="productimg{{ product.id }}" class="img-responsive center-block product-img"/>
                        </div>
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <h7>{{ product.producer.name }}</h7>
                            <h6>{{ product.pretty_price }}</h6>
                            <h6>{{ product.quantity }} {{ product.quantityType }}</h6>
                            <h6>{{ product.pretty_price_per_mass }}</h6>
                            <button type="button" data-product_id="{{ product.id }}" class="btn btn-success btn-lg buy-product-btn">Kjøp</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

