@font-face {
    font-family: 'entypo';
    src: url("../../fonts/entypo/entypo.eot");
    src: url("../../fonts/entypo/entypo.eot?#iefix") format('embedded-opentype'),
         url("../../fonts/entypo/entypo.woff") format('woff'),
         url("../../fonts/entypo/entypo.ttf") format('truetype'),
         url("../../fonts/entypo/entypo.svg#entypo") format('svg');

    font-style: normal;
    font-weight: normal;
}

.custom-btn-big {
    width: 100px;
    height: 58px;
    margin-top: 13px;
}

.big-top-margins{
    margin-top: 40px;
}

div#cart-widget-container{
    padding-right: 10px;
}

.entypo{
    font-family: 'entypo';
    font-size: 12pt;
}

.total-line{
    border-top: 2px solid;
}