.custom-btn-big {
    width: 100px;
    height: 58px;
    margin-top: 13px;
}

.big-top-margins{
    margin-top: 40px;
}

div#cart-widget-container{
    padding-right: 10px;
}

.total-line{
    border-top: 2px solid;
}

body, html, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

.cart-btn{
    color: #3e8f3e;
}