.custom-btn-big {
    width: 100px;
    height: 58px;
    margin-top: 13px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.big-top-margins{
    margin-top: 40px;
}

.small-top-margins{
    margin-top: 10px;
}

.sidebar-list{
    list-style: none;
    padding-left: 10px;
    color: #3e8f3e;
}

#sidebar .panel-body{
    background-color: #EDFFED;
    padding-bottom: 0px;
}

a.sidebar-link{
    color: #000000;
}

div.modal-header {
    background-color: #DFF0D8;
}

.navbar-default {
    background-color: #DFF0D8;
}

body, html, h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

.product-img {
    height: 150px;
    width: 100px;
    overflow:hidden;
}

/* Product category */
.panel-heading {
    background-color: #DFF0D8;
}
a.product-link{
    color: #3e8f3e;
}


/* Footer */
#footer, .push {
    height: 4em;
}


/* CART */
.cart-btn{
    color: #3e8f3e;
}

.cart-input input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.cart-btn-container {
    white-space: nowrap;
}

.total-line{
    border-top: 2px solid;
}

div#cart-widget-container{
    padding-right: 10px;
}

/* Disabling responsiveness */
.container {
    max-width: none !important;
    width: 1200px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
/* Bootstrap adds a margin-right:15px when opening modal*/
body.modal-open {
    margin-right: 0px;
}


/* Order */
div.timeslots span{
    display: block;
}