<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-offset-2 col-lg-8">
        <h3>Om fooDay</h3>
        <p>
        Ideen bak fooDay ble unnfanget rundt et middagsbord med hjemmelaget Pasta Carbonara og gode venner en varm
        vårdag i år. Gutta bak fooDay bodde og studerte sammen, og akkurat denne dagen var det irritasjon over et
        gammeldags system i en moderne verden som sto i fokus. I en hektisk hverdag brukte vi uforholdsmessig mye tid på
        å planlegge middagen, samt å surre rundt i butikken på jakt etter fersk parmesan. Hvorfor hadde ikke innovasjon
        nådd dagligvarehandelen? Dagens måte å handle på gjorde innkjøpene både ueffektive og dyre! En typisk tur til
        butikken var kjennetegnet av romlende mager som gjorde oss sårbare for de mange fristelsene like ved kassa, og
        dårlig planlegging som resulterte i de samme rettene gang på gang. Og verst av alt, dette måtte vi gjennom hver
        bidige dag!
        </p>
        Vi i fooDay har et sterkt ønske om å forandre dette.

        <h3>Rask og inspirerende mathandel</h3>
        <h5>1. Spar tid.</h5>
        Legg oppskrifter rett i handlekurven, så finner vi råvarene du trenger og leverer de hjem til deg.

        <h5>2. Bli inspirert.</h5>
        Finn nye og spennende matretter i vår omfattende oppskriftsdatabase.

        <h5>3. Spar penger. </h5>
        Unngå impulskjøp. Hos oss slipper du å bli fristet på vei til kassa. I tillegg vil du til enhver tid ha full
        oversikt over prisen på handlevognen.

        <h5>4. Gjør verden en tjeneste.</h5>
        Kjøp enkelt inn for en hel uke hver gang. Da reduserer du både transport- og emballasjebehovet.

        <h5>5. Få gode råvarer</h5>
        Når vi plukker varer for deg, skjønner vi at du kan være skeptisk til kvaliteten. For å forsikre oss om at du
        blir fornøyd, plukker vi kun de beste råvarene. Dermed er vi ikke redde for å tilby fornøydhetsgaranti.
        Les mer om fornøydhetsgarantien i <a href="#">vilkårene våre.</a>

    </div>
</div>