<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-offset-2 col-lg-8">
        <h3>Ofte stilte spørsmål</h3>

        <h5>Når åpner vi?</h5>
        Lanseringsdato er ennå ikke satt, men vi jobber på spreng for å få opp nettsiden. Følg med på facebook-siden vår
        for oppdateringer.

        <h5>Hvem kan handle på fooDay?</h5>
        Alle kan handle på fooDay; privatpersoner, bedrifter, skoler, barnehager og andre institusjoner.

        <h5>Kan jeg bare få maten levert hjem?</h5>
        I tillegg til å få maten levert på døren, kan du få den levert på arbeidsplassen. Vi satser på å inngå samarbeid
        med ulike bedrifter, slik at maten kan plukkes opp på arbeidsplassen etter endt arbeidsdag dersom det passer deg
        bedre.

        <h5>Er det dyrere å handle på fooDay?</h5>
        Nei. Tradisjonelle dagligvarebutikker har store, dyre butikklokaler som til enhver tid skal holdes fine og
        moderne, samt mange ansatte som skal lønnes. Vi slipper dette, og dermed vil prisene du får hos fooDay være
        konkurransedyktige. Ved å handle hos oss vil du enklere kunne unngå dyre og usunne impulskjøp, noe som ofte drar
        opp sluttsummen på kassalappen. Om ikke så lenge vil vi også tilby en smartere nettside, som gir deg forslag til
        oppskrifter basert på det du allerede har bestilt.

        <h5>Hva koster levering?</h5>
        Vi tilbyr fri frakt på alle bestillinger på over 500 kroner. Bestillinger under 500 kroner koster 100 kroner.

        <h5>Når kan jeg få varene levert?</h5>
        Du velger selv tidspunktet for levering når du bestiller varene på fooDay. Dersom det oppstår noe uforutsett som
        gjør at du allikevel ikke vil være hjemme ved avtalt tid, ringer du bare en av våre medarbeidere og avtaler et
        nytt tidspunkt. Dette må skje minimum 4 timer før tidligere avtalt tidspunkt.

        <h5>Hvordan betaler jeg?</h5>
        Betaling skjer når vi leverer varene, enten med kort eller kontanter. Dermed kan du se over leveransen før vi
        leverer den fra oss, og være sikker på at du får det du har bestilt. Finner du en feil senere er det
        selvfølgelig bare å ta kontakt.

        I fremtiden vil du også kunne betale på nettsiden, men dit har vi ikke kommet enda.

        <h5>Hvordan er vareutvalget?</h5>
        Vareutvalget vil i starten være som en middels stor dagligvarebutikk, og vil sakte, men sikkert, øke.

        <h5>Får jeg kjøpt røyk og alkohol?</h5>
        Alkohol og tobakk vil komme etterhvert, da dette krever særskilte tillatelser. Vi er i prosessen med å få dette
        innvilget. Det vil selvfølgelig være 18-års aldersgrense på disse varene.

        <h5>Hvordan kan jeg hjelpe fooDay med å bli bedre?</h5>
        Vi i fooDay jobber hele tiden med å finne gode løsninger som vil gjøre det enklere for deg å handle dagligvarer.
        Siden vi er i en oppstartsfase og ønsker å bygge en tjeneste basert på akkurat det kundene våre ønsker, er det
        kjempebra at du gir oss tilbakemeldinger. Hva liker du? Hva liker du ikke? Har du en god idé, er det ingen som
        ønsker å få vite om det mer enn oss i fooDay. Send oss ditt inspill til post@fooday.no

        <h5>Kan jeg endre/slette en bestilling?</h5>
        Det vil selvsagt være mulig å endre en bestilling. Send en e-post til post@fooday.no eller ring oss på ------ ,
        så ordner vi det.

        <h5>Kan jeg legge inn egne oppskrifter?</h5>
        Ønsker du å bidra med å gjøre oppskriftsarkivet vårt større og bedre, så send inn en oppskrift til oss da vel!
        Vi tar imot gode matoppskrifter med åpne armer, og vil legge de inn på nettsiden så raskt vi kan.
    </div>
</div>