{% load staticfiles %}
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <img src="{% static 'img/header_round.png' %}" class="img-responsive center-block"/>
    </div>
    <br>
    <div class="col-xs-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
        fooDay representerer en ny måte å handle daligvarer på. Vår nettbaserte dagligvarebutikk tilbyr et bredt spekter
        av de ingredienser du trenger til den daglige matlagingen, og en grunnpilar i fooDay’s visjon er å forenkle
        prosessen så mye som mulig, slik at du sparer tid. FooDay vil være en inspirasjon og en tidsbesparer. Ved å
        forenkle hele prosessen - fra idé til hva du skal spise, til selve handelen - ønsker vi å klemme matglede ut av
        tidsklemma. Maten skal du lage selv, men alt forarbeidet reduseres til et absolutt minimum.
    </div>
</div>