<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <p>Product name: {{ product.name }} </p>
    <p>Description; {{ product.description }}</p>
    <p>Price: {{ product.price }} </p>
    <p>Producer: {{ product.producer }} </p>
    <p>Product types:
        {% for productType in product.productTypes.all %}
            {{ productType }}
            {% if not forloop.last %} , {% endif %}
        {% endfor %}
    </p>
    <p> Price for mass: {{ product.pretty_price_per_mass }}</p>
    <p> Vegetarian: {{ product.vegetarian }}</p>
    <p> Vegan: {{ product.vegan }}</p>
</body>
</html>