<h3 class="text-center">{{ recipe.name }}</h3>

<div id="buy-recipe-modal"></div>

<div class="row">
    <div class="col-xs-8 col-md-8 col-lg-8">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <img src="{{ recipe.image.url }}" class="img-responsive center-block productimg"/>
            </div>
        </div>
        <div class="row small-top-margins">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>{{ recipe.procedure|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <h5>{{ recipe.description }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <h5><span class="glyphicon glyphicon-time"></span><br> {{ recipe.processing_time }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <h5><span class="glyphicon glyphicon-tags"></span><br>
                    {% for category in recipe.recipe_categories.all %}
                        {{ category }}
                        {% if not forloop.last %}<br>
                        {% endif %}
                    {% endfor %}
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-6">
                <h5>
                <span class="glyphicon glyphicon-user"></span>
                <div class="input-group input-group-sm">

                    <input id="servings" type="number" class="form-control" value="{{ recipe.servings }}">
                </div>
                </h5>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6">
                <a data-toggle="modal" id="buy-recipe-btn" type="button" class="btn btn-success btn-lg custom-btn-big">Kjøp</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <h5><span class="glyphicon glyphicon-list"></span></h5>
                {% for ingredient in recipe.ingredients.all %}
                    <span class="ingredient-quantity" data-base-quantity="{{ ingredient.quantity }}">{{ ingredient.quantity }}</span> {{ ingredient.quantityType }} {{ ingredient.name }} <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>